<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.mitrakov.self.rush"
    android:versionCode="11"
    android:versionName="1.0.0" >

    <!-- Overridden by Gradle: <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="25" /> -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <!-- For debug only! <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/winesaps"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme" >
        <!-- "singleTask" is necessary for getting the current state on relaunch the app AFTER moveFromForeground() -->
        <activity
            android:name="ru.mitrakov.self.rush.AndroidLauncher"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
